@font-face {
    font-family: 'Arapey';
    src: url('Arapey-Regular.woff2') format('woff2'),
        url('Arapey-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

